<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inalivayko.testall">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".crm.ActivityCRM" />
        <activity android:name=".cashe.ActivityCashe" />
        <activity android:name=".examples_library.json.ActivityJSON" />
        <activity android:name=".cashe.ActivityPurchase" />
        <activity android:name=".examples_library.ActivityExamplesLibrary" />
        <activity android:name=".examples_library.date_calendar.ActivityDateCalendar" />
        <activity android:name=".examples_library.database.ActivityDatabase"></activity>
    </application>

</manifest>